pytest-mock
pre-commit
pydantic
tox
sphinx
pyscaffold
pysnooper
flake8
mypy
black
flake8
pytest
pytest-bdd
pytest-cov
pysnyk
bandit
loguru
jupyter
pandas
numpy
matplotlib
nltk
pdfplumber
flask
flask-restful
sqlalchemy
pymongo